.greetings{
    margin: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.952);
    padding-top: 10px;
    border-radius: 10px;
}
.greetImg img{
    width: 117px;
    height: 206px;
    object-fit: cover;
    object-position: top;
    margin-right: 20px;
    margin-left: -19px;
}
.greetLinksHere{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
}
.leftLinks ul{
    margin: 0px;
    padding: 8px;
}
.rightLinks ul{
    margin: 0px ;
    padding: 8px ;
}
.leftLinks li{font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: xx-small;
}
.rightLinks li{font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: xx-small;
}